*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
#fondo{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: green;
}
#tarjeta{
  width: 400px;
  height: 200px;
  background-color: honeydew;
  box-shadow: 0px 0px 5px 5px gray;
  border-radius: 10%;
  position: relative;
}
#boton{
  box-shadow: 0px 0px 5px 5px gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}
#tarjeta h2{
  display: flex;
  float: left;
  padding: 5px;
}
i{
  font-size: 40px;
}
#tarjeta p{
  padding: 5px;
  font-size: 25px;
}
#author{
  position: absolute;
  right: 100px;
  bottom: 10px;
  
}
